<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<!-- css bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<dom-module id ="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
      }
    </style>

    <div class="container col-lg-12">
      <div class="row col-lg-12">
        <h1 class="col-lg-12"> Gestor de clientes</h1>
        <button class="btn btn-danger"on-click="obtenerClientes" disabled$="{{datosCargados}}"> Obtener Clientes</button>
      </div>
      <div class="row">
        <table class= "table table-striped" >
          <tbody>
            <!-- dom-repeat es un comoennte de polymer -->
            <!-- si no ponemos as="cliente" para referenciar los elementos, polymer usa
                 item para acceder a cada elemento -->
            <template is="dom-repeat" items="{{clientes}}" as="cliente">
              <tr>
                <td>[[cliente.CustomerID]]</td>
                <td>[[cliente.ContactName]]</td>
                <td>[[cliente.CompanyName]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
  /**
   * @customElement
   * @polymer
   */
  class GestorClientes extends Polymer.Element {
    static get is() { return 'gestor-clientes'; }
    static get properties() {
      return {
        clientes: {
          type: Array,
          notify: true
        },
        datosCargados: {
          type: Boolean,
          value: false
        },
        respuesta: {
          type: Object
        }
      };
    }
    obtenerClientes() {
      var request = new XMLHttpRequest();
      request.open("GET", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.clientes = JSON.parse(request.responseText).value;
      console.log(this.clientes);
      this.datosCargados = true;
    }
    agregarCliente() {
      var request = new XMLHttpRequest();
      request.open("POST", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      var miCliente = {"CustomerID" : "asf", "ContactName" : "Pepe", "CompanyName" : "PEPE SA"};
      var body = JSON.stringify(miCliente);
      request.send(body);
      this.respuesta = request.responseText;
      console.log(this.respuesta);
      this.datosCargados = true;
    }
    /** PUT iria con: id a modificar en URL y con propiedades en el body **/
    /** DELETE iria con: id a eliminar en URL pero SIN propiedades en el body **/
  }
  window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
