<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- css bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<dom-module id="demopolymer-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <img src ="https://vignette.wikia.nocookie.net/adventuretimewithfinnandjake/images/e/e4/At_100x100_iconjake.jpg/revision/latest?cb=20100502232308"
      class="col-lg-4 col-xs-12"></img>

      <div class="row">
          <button class="col-lg-4 col-xs-12 btn btn-danger" on-click="increment">Load</button>
      </div>
      <div class="row">
          <table class="col-lg-4 col-xs-12 table table-striped">
            <thead>
              <td>ID</td>
              <td>Nombre</td>
              <td>Apellido</td>
            </thead>
            <tbody>
              <td>[[prop2]]</td>
              <td>[[prop2]]</td>
              <td>[[prop2]]</td>
            </tbody>
          </table>
      </div>
  </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemopolymerVisor extends Polymer.Element {
      static get is() { return 'demopolymer-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'demopolymer-visor'
          },
          prop2 : {
            type: Number,
            value: 999
          }
        };
      }
      increment () {
        this.prop2 +=1;
      }
    }

    window.customElements.define(DemopolymerVisor.is, DemopolymerVisor);
  </script>
</dom-module>
