<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- css bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<dom-module id="demopolymer-login">
  <template>
    <style>
      :host {
        display: block;
      }
      .wrapper-btns {
          margin-top: 15px;
      }
      paper-button.link {
          color: #757575;
      }

    </style>
    <div class="container">
      <p>Login</p>
      <iron-input bind-value="{{user}}">
        <input value="{{user::input}}" placeholder="Input your user"/>
      </iron-input>
      <p>Password</p>
      <input type= "password" value="{{password::input}}" placeholder="Input your password"/>
      <div class="row">
          <button class="col-lg-4 col-xs-12 btn btn-danger" on-click="login">Login</button>
      </div>
      <h1>[[result]]</h1>
  </div>
  <div class="card">
     <div id="unauthenticated">
         <h1>Log In</h1>
         <p><strong>Log in</strong> or <strong>sign up</strong> to access secret Chuck Norris quotes!</p>

         <paper-input-container>
             <label>Username</label>
             <input is="iron-input" id="username" type="text" value="{{user::input}}">
         </paper-input-container>

         <paper-input-container>
             <label>Password</label>
             <input is="iron-input" id="password" type="password" value="{{password::input}}">
         </paper-input-container>

         <div class="wrapper-btns">
             <paper-button raised class="primary" on-click="login">Log In</paper-button>
             <paper-button class="link" on-tap="postRegister">Sign Up</paper-button>
         </div>
     </div>
  </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemopolymerLogin extends Polymer.Element {
      static get is() { return 'demopolymer-login'; }
      static get properties() {
        return {
          user: {
            type: String,
            value: ''
          },
          password : {
            type: String,
            value: ''
          },
          result : {
            type: String
          }
        };
      }
      login () {
        if (this.password == this.user) {
          this.result = 'OK!!';
        } else {
          this.result = 'KO';
        }
      }
    }

    window.customElements.define(DemopolymerLogin.is, DemopolymerLogin);
  </script>
</dom-module>
